<main>
  <div class="container">
    <header>
      <div class="ticket_number">
        <div class="back_btn">
          <button>
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>

        <h4>تذكرة رقم #2342</h4>
      </div>

      <div class="edit_button">
        <button>
          <i class="fa-regular fa-pen-to-square"></i>
          تعديل
        </button>
      </div>
    </header>

    <section>
      <div class="chart">
        <app-chart></app-chart>
      </div>

      <div class="card_view">
        <app-card-view></app-card-view>
      </div>
    </section>
  </div>
</main>