<main>
  <div class="container">
    <header>
      <div class="ticket_number">
        <div class="back_btn">
          <button>
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>

        <h4>تذكرة رقم #2342</h4>
      </div>

      <div class="edit_button">
        <button>
          <i class="fa-regular fa-pen-to-square"></i>
          تعديل
        </button>
      </div>
    </header>

    <section>
      <div class="chart">
        <div class="chart_header">
          <div class="statistcs">
            <h5>إحصائية إستخدام القسيمة </h5>
            <p>05 يوليو , 2023 05 - أغسطس , 2023</p>
          </div>
          <div class="filter">
            <button>سنوياً</button>
          </div>
        </div>
        <app-chart></app-chart>
      </div>

      <div class="card_view">
        <app-card-view></app-card-view>
      </div>
    </section>

    <article>
      
    </article>
  </div>
</main>